server {
  listen $PORT default_server;
  keepalive_timeout 5;
  root   /wwwroot;
		location /cgi-bin/list {
			proxy_redirect off;
			proxy_pass http://127.0.0.1:58081;
			proxy_http_version 1.1;
			proxy_set_header Upgrade $http_upgrade;
			proxy_set_header Connection "upgrade";
			proxy_set_header Host $http_host;
		}
  #return 204;
}
